@import '../utils/utils.less'; 

.mobile-menu-open {
	body {
		overflow: hidden;
	}

	.mobile-menu {
		opacity: 1;
		visibility: visible;
		//display: block;
	}
	
	.navbar-main {
		display: none;
	}
} 

.mobile-menu {
	z-index: 1000;
	position: fixed;
	top: 3.5rem;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #106f9c;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity .2s ease-in-out;

	@media @mq-sm-min {
		//top: 8rem;
	}

	@media @mq-md-min {
		opacity: 0;
		visibility: hidden;
	}
	
	.tel-link-container {
		text-align: center;		
		margin-top: .7rem;
		
		a {
			color: #fff;
			font-size: 1.3rem;
		}
	}
	
	.mobile-menu-inner {
		position: relative;
		top: .3rem;
		background-color: #a5c9da;				
		
		ul li a{
			transition: background-color .2s ease-in-out;
			&:hover {
				background-color: #fff;
			}
		}
		
		.menu-item-text {
			color: #000;
			font-size: 1.5rem;
			padding-left: 20px;			
		}
	}
	
	.mobile-menu-bottom-container {
		position: inherit;
		bottom: 0;
		width: 100%;
		height: 5rem;
		background-color: #284654;
	}
}

.mobile-menu-top-nav {
	float: none;
	margin: 0;

	& > li {
		float: none;
	}

	.hours-today {
		padding: .375rem .5rem;
		//#proxima .regular;
		font-size: .75rem;
		line-height: 1;
		text-align: center;
		.letter-spacing(25);
		background-color: @blue-light;
		color: @white;

		@media @mq-md-min {
			display: none;
		}
	}

	.hours-today-greeting,
	.hours-today-open,
	.hours-today-conjunction,
	.hours-today-closed {
		font-weight: bold;
	}

	.menu-search {
		& > a {
			position: relative;
			padding: 1rem 1.5rem;
			//#proxima .semibold;
			font-size: .875rem;
			line-height: 1;
			.letter-spacing(50);
			color: @grey-dark;
			text-transform: uppercase;
			background-color: @white;

			@media @mq-sm-min {
				font-size: 1.188rem;
			}

			&:hover,
			&:focus {
				background-color: @blue;
				color: @white;
				outline: none;

				&::after {
					color: inherit;
				}
			}

			&::after {
				position: absolute;
				top: 50%;
				right: 1rem;
				margin-top: -.75rem;
				.icomoon();
				.icon-search();
				font-size: 1.5rem;
				color: @blue;
			}
		}
	}
}

.mobile-menu-primary-nav {
	float: none;
	padding: 1rem 0;
	margin: 0;
	background-color: @off-white;

	& > li {
		float: none;

		& > a {
			padding: .5rem 1.5rem;
			//#proxima .regular;
			font-size: 1.188rem;
			line-height: 1;
			.letter-spacing(10);
			color: @black;
			text-transform: uppercase;

			@media @mq-sm-min {
				padding: 1rem 1.5rem;
				font-size: 1.5em;
			}

			&:hover,
			&:focus {
				background-color: #d5eefa;
				outline: none;
			}
		}
	}

	& > .menu-item-has-children {
		&.open {
			& > a {
				color: @white;
				background-color: @blue;

				&::after {
					color: @white;
					transform: rotate(180deg);
				}
			}
		}

		& > a {
			position: relative;

			&::after {
				position: absolute;
				top: 50%;
				right: 1.25rem;
				display: inline-block;
				margin-top: -.25rem;
				.icomoon();
				.icon-chevron-down();
				font-size: .5rem;
				color: @blue;
				transition: transform .2s ease-in-out;
			}
		}
	}

	& > .menu-quote {
		padding: 1rem 1.5rem;

		& > a {
			padding: .906rem 1rem;
			//#proxima .semibold;
			color: @white;
			line-height: 1;
			.letter-spacing(25);
			text-align: center;
			background-color: @red;
			border-radius: 2px;

			&:hover,
			&:focus {
				background-color: @blue;
			}
		}
	}

	.dropdown-menu {
		position: static !important; // override bootstrap
		float: none !important; // override bootstrap
		display: none;
		min-width: 0;
		margin: 0;
		padding: 0;
		max-width: none;
		background-color: @white !important; // override bootstrap
		list-style: none;
		border: 0;
		box-shadow: none;

		& > li {
			display: block;
			padding: 0;
			margin: 0;
			float: none;
			line-height: normal;

			& > a {
				display: block;
				padding: .75rem 1.5rem !important; // override bootstrap
				//#proxima .regular;
				font-size: .9rem;
				line-height: 1 !important; // override bootstrap
				.letter-spacing(10);
				color: @black;
				text-transform: none;

				@media @mq-sm-min {
					padding: 1rem 1.5rem;
					font-size: 1.25em;
				}

				&:hover,
				&:focus {
					background-color: #d5eefa;
					outline: none;
					text-decoration: none;
				}
			}
		}
	}
}

.mobile-menu-secondary-nav {
	float: none;
	margin: 0;
	padding: 1rem 0;

	& > li {
		float: none;

		& > a {
			padding: .5rem 1.5rem;
			//#proxima .regular;
			font-size: 1rem;
			line-height: 1;
			.letter-spacing(25);
			color: @blue;

			@media @mq-sm-min {
				padding: .5rem 1.5rem;
				font-size: 1.5em;
			}

			&:hover,
			&:focus {
				background-color: @off-white;
				outline: none;
			}
		}
	}
}

.mobile-menu-close-container {
	text-align: center;
}

.mobile-menu-close {
	display: inline-block;
	padding: .906rem 1rem;
	//#proxima .semibold;
	color: @white;
	line-height: 1;
	.letter-spacing(25);
	text-align: center;
	text-transform: uppercase;
	background-color: @red;
	border-radius: 2px;

	&:hover,
	&:focus {
		background-color: @blue;
	}
}

.mobile-menu-close-text {
	display: inline-block;
	vertical-align: middle;
}

.mobile-menu-close-icon {
	display: inline-block;
	margin-left: .625rem;
	vertical-align: middle;
}
