@import '../utils/utils.less';

/*@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";*/

.contact-section-container {
    background-color: @jp-blue;
    padding:0 20px 0 20px;        
    
    .contact-heading {
        padding-top: 50px;
        text-align: center;        
        
        h5 {
            color: @white;
        }
    }
    
    .contact-info {
        font-size: 1.3rem;
        color: @white;
        //opacity: 0;
        
        .info {
            position: relative;
            
            opacity: 0;
        }
        
        a {
            color: @white;
            transition: all .2s ease-in-out;
            
            &:hover {
                text-decoration: none;
                color: @jp-yellow;
            }
        }
    }
    
    .form-wrapper {
        margin-bottom: 20px;
        background-color: lighten(@jp-blue, 2%);
        opacity: 0;
        
        form {            
            padding: 1rem;
            background-color: lighten(@jp-blue, 2%);
        }
    }
    
    .gform_body {
        width: 100% !important;
        ul li input{
            width: 100% !important;
        }
        .ginput_container::after {
            color: lighten(@red, 30%);    
        }
        
        .gfield_label {
            color: darken(@white, 5%);
        }
    }
    
    .gform_wrapper div.validation_error {
        color: lighten(@red, 30%);
        border-top-color: lighten(@red, 30%);
        border-bottom-color: lighten(@red, 30%);
    }
    
    .gform_wrapper .gfield_error .gfield_label {
        color: lighten(@red, 30%);
    }
    
    .gform_wrapper .validation_message {
        color: lighten(@red, 30%);
    }
    
    button {
        background-color: @jp-yellow;
        
        &:hover {
            background-color: @jp-grey;
        }
    }
} 