@import '../utils/utils.less';

/*@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";*/

.hero-banner-container {
	background-color: @jp-green;
	width: 100%;
	min-height: calc(~"100vh - 150px");	
	
	.hero-banner-text {
        margin: 0 10px 0 10px;
        padding-top: 8rem;        
        color: @white;
        text-align: center;
		
		@media @mq-sm-min {
			padding-top: 9rem;
		}
		
		.hero-heading {			
			font-size: 1.8rem;						
			
			@media @mq-sm-min {
				font-size: 2rem;
			}
			
			@media @mq-md-min {
				opacity: 0;
				visibility: hidden;
				transition: all 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);			
				transform: scale(.5,.5);
			}
		}
		
		.hero-heading.animate {
			opacity: 1;
			visibility: visible;
			transform: scale(1,1);
		}
		
		.hero-copy {
            margin-top: 1rem;
            font-size: 1.2rem;
			
			@media @mq-sm-min {
				font-size: 1.3rem;
			}
			
			@media @mq-md-min {
				opacity: 0;
				visibility: hidden;
				transition: all 1s 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);			
				transform: scale(.5,.5);
			}
		}
		
		.hero-copy.animate {
			opacity: 1;
			visibility: visible;
			transform: scale(1,1);
		}
        
        .arrow-container {
            animation-name: bounce;
            animation-duration: 4s;
            animation-iteration-count: infinite;
			
			@media @mq-md-min {
				opacity: 0;
				visibility: hidden;
				transition: all 1s 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
			
            .icon-arrow-down2 {
                position: relative;
                top: 7rem;
                font-size: 2rem;
                
                @media @mq-sm-min {
                    top: 10rem;
                }
                
                @media @mq-lg-min {
                    top: 6rem;
                    font-size: 1.8rem;
                }
            }    
        }
		
		.arrow-container.animate {
			opacity: 1;
			visibility: visible;
		}		
	}
}
