.page-footer {
  background-color: #2e2d2d;
  min-height: 13rem;
  height: auto;
}
.page-footer .footer-image-container {
  float: left;
  margin: 60px 20px 0 5px;
}
.page-footer .footer-image-container img {
  width: 120px;
}
.page-footer .footer-personal-info {
  padding: 60px 0 0 10px;
  color: #959292;
}
.page-footer .footer-personal-info .footer-heading {
  font-size: 1.4rem;
}
.page-footer .footer-personal-info .linkedin-link:hover {
  text-decoration: none;
}
.page-footer .footer-personal-info .linkedin-link .icon-linkedin {
  color: #959292;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.page-footer .footer-personal-info .linkedin-link .icon-linkedin:hover {
  color: #c7c6c6;
}
.page-footer .footer-personal-info .footer-address {
  display: block;
  font-size: 0.9rem;
}
.page-footer .footer-personal-info .footer-tel {
  margin-top: 5px;
}
.page-footer .footer-personal-info .footer-tel a {
  font-size: 0.9rem;
  color: #959292;
  transition: all 0.2s ease-in-out;
}
.page-footer .footer-personal-info .footer-tel a:hover {
  text-decoration: none;
  color: #c7c6c6;
}
.page-footer .footer-personal-info .footer-mail a {
  font-size: 0.8rem;
  color: #959292;
  transition: all 0.2s ease-in-out;
}
.page-footer .footer-personal-info .footer-mail a:hover {
  text-decoration: none;
  color: #c7c6c6;
}
.page-footer .footer-main-menu {
  clear: both;
}
.page-footer .footer-main-menu ul li:first-child {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .page-footer .footer-main-menu ul li:first-child {
    margin-top: 50px;
  }
}
.page-footer .footer-main-menu ul li a {
  color: #959292;
  background-color: #2e2d2d;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
  height: 40px;
}
.page-footer .footer-main-menu ul li a:hover {
  color: #c7c6c6;
}
.page-footer .footer-copyright {
  text-align: center;
}
.page-footer .footer-copyright a {
  color: #959292;
}
