/*@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";*/
.hero-banner-container {
  background-color: #69a96c;
  width: 100%;
  min-height: calc(100vh - 150px);
}
.hero-banner-container .hero-banner-text {
  margin: 0 10px 0 10px;
  padding-top: 8rem;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-banner-container .hero-banner-text {
    padding-top: 9rem;
  }
}
.hero-banner-container .hero-banner-text .hero-heading {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .hero-banner-container .hero-banner-text .hero-heading {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-banner-container .hero-banner-text .hero-heading {
    opacity: 0;
  }
}
.hero-banner-container .hero-banner-text .hero-copy {
  margin-top: 1rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .hero-banner-container .hero-banner-text .hero-copy {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-banner-container .hero-banner-text .hero-copy {
    display: none;
  }
}
.hero-banner-container .hero-banner-text .hero-copy-ary-item {
  display: none;
  position: relative;
  top: 10px;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .hero-banner-container .hero-banner-text .hero-copy-ary-item {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-banner-container .hero-banner-text .hero-copy-ary-item {
    display: inline-block;
    opacity: 0;
    top: 180px;
    margin-left: 10px;
  }
  .hero-banner-container .hero-banner-text .hero-copy-ary-item:nth-last-child {
    margin-left: 0;
  }
}
.hero-banner-container .hero-banner-text .arrow-container {
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@media screen and (min-width: 992px) {
  .hero-banner-container .hero-banner-text .arrow-container {
    opacity: 0;
  }
}
.hero-banner-container .hero-banner-text .arrow-container .icon-arrow-down2 {
  position: relative;
  top: 7rem;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .hero-banner-container .hero-banner-text .arrow-container .icon-arrow-down2 {
    top: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero-banner-container .hero-banner-text .arrow-container .icon-arrow-down2 {
    top: 6rem;
    font-size: 1.8rem;
  }
}
