.mobile-menu-open body {
  overflow: hidden;
}
.mobile-menu-open .mobile-menu {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-open .navbar-main {
  display: none;
}
.mobile-menu {
  z-index: 1000;
  position: fixed;
  top: 4.4rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0066a4;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.2s ease-in-out;
}
@media screen and (min-width: 992px) {
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
  }
}
.mobile-menu .tel-link-container {
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: #232222;
}
.mobile-menu .tel-link-container a {
  color: #fff;
  font-size: 1.3rem;
}
.mobile-menu .mobile-menu-inner {
  position: relative;
  background-color: #0076be;
}
.mobile-menu .mobile-menu-inner ul li a {
  transition: background-color 0.2s ease-in-out;
}
.mobile-menu .mobile-menu-inner ul li a:hover {
  background-color: #fff;
}
.mobile-menu .mobile-menu-inner .menu-item-text {
  color: #000;
  font-size: 1.5rem;
  padding-left: 20px;
}
.mobile-menu .mobile-menu-bottom-container {
  position: inherit;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #2e2d2d;
}
