.mobile-menu-open .navbar-main-primary-toggle-hamburger-bar:first-child {
  top: calc(50% - 1px);
  transform: rotate(45deg);
  transform-origin: center center;
}
@media screen and (min-width: 768px) {
  .mobile-menu-open .navbar-main-primary-toggle-hamburger-bar:first-child {
    top: calc(50% - 2px);
    transform: rotate(45deg);
  }
}
.mobile-menu-open .navbar-main-primary-toggle-hamburger-bar:nth-child(2) {
  transform: translate(33.33%);
  opacity: 0;
}
.mobile-menu-open .navbar-main-primary-toggle-hamburger-bar:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .mobile-menu-open .navbar-main-primary-toggle-hamburger-bar:last-child {
    bottom: calc(50% - 2px);
    transform: rotate(-45deg);
  }
}
button {
  background-color: transparent;
}
button:hover,
button:focus {
  outline: none;
}
.navbar-main-primary-toggle {
  float: right;
  display: inline-block;
  height: 100%;
  padding: 0 1rem;
  border: 0;
  margin: 0;
  border-radius: 0;
  border: none;
}
@media screen and (min-width: 768px) {
  .navbar-main-primary-toggle {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar-main-primary-toggle {
    display: none;
  }
}
.navbar-main-primary-toggle:hover,
.navbar-main-primary-toggle:focus {
  border: none;
}
.navbar-main-primary-toggle:hover .navbar-main-primary-toggle-hamburger-bar,
.navbar-main-primary-toggle:focus .navbar-main-primary-toggle-hamburger-bar {
  background-color: #f00;
  border: none;
}
.navbar-main-primary-toggle-hamburger {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .navbar-main-primary-toggle-hamburger {
    width: 2.2rem;
    height: 2.2rem;
  }
}
.navbar-main-primary-toggle-hamburger-bar {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #092e6e;
  transform-origin: center center;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .navbar-main-primary-toggle-hamburger-bar {
    height: 4px;
  }
}
.navbar-main-primary-toggle-hamburger-bar:first-child {
  top: 0;
}
.navbar-main-primary-toggle-hamburger-bar:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
@media screen and (min-width: 768px) {
  .navbar-main-primary-toggle-hamburger-bar:nth-child(2) {
    margin-top: -1.5px;
  }
}
.navbar-main-primary-toggle-hamburger-bar:nth-child(3) {
  bottom: 0;
}
